*:focus {
  outline: none;
  box-shadow: 0 0 0 1rem rgb(121, 80, 242, 0.5);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}

.grid {
  display: grid;
  column-gap: 4.8rem;
  row-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
